body {
    background-color: #FAFAFA
}


.main_container {
    width: 100%;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
}


p button {
    border: none;
    color: #B2B2B2;
}