.right_profile {
    img {
        width: 50px;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
    }

    p {
        position: relative;
        top: 5px;
        font-size: 15px;
        margin: 0;
    }
}


br {
    clear: both;
}